section#how-it-works {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#how-it-works > div {
    flex-basis: 50%;
}
#how-it-works > .preview {
    background: white;
}
#how-it-works > .steps {
    padding-top: 50vh;
} 
.screen-mock {
    position: fixed;
    bottom: 5vh;
    z-index: 1000;
    transition: 150ms ease-in-out;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.screen-mock.hide {
    opacity: 0;
}
.screen-mock.fixed {
    width: 40%;
    margin-left: 5%;
    transform: translate(0, 50%);
    bottom: 50vh;
}
.screen-mock .mac-wrap {
    position: relative;
}
.screen-mock .mac-wrap .mac-mock {
    max-width: 100%;
    max-height: 50vh;
    object-fit: contain;
}
.screen-mock .screen {
    position: absolute;
    width: 96%;
    height: 64%;
    left: 2%;
    top: 2%;
    overflow: hidden;
    background: white;
}
.screen-mock .screen img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transform: translateY(0);
    transition: 250ms ease-in-out;
}
.screen-mock .screen img.up {
    transform: translateY(-100%);
}
.screen-mock .screen img.down{
    transform: translateY(100%);
}