section#how-it-works {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#how-it-works > div {
    flex-basis: 50%;
}
#how-it-works > .preview {
    background: white;
}
#how-it-works > .steps {
    padding-top: 50vh;
} 
.screen-mock {
    margin-left: auto;
    position: fixed;
    bottom: 5vh;
    left: 50vw;
    transform: translate(-50%, 0);
    z-index: 1000;
    transition: 150ms ease-in-out;
    max-width: 800px;
    max-height: calc(55vh - 210px);
    aspect-ratio: 1234/1040;
}
.screen-mock .mac-mock {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-height: calc(55vh - 210px);
}
.screen-mock img:not(.mac-mock){
    position: absolute;
    left: 0%;
    top: 0%;
    aspect-ratio: 16/9;
    width: 96%;
    margin-left: 2%;
    top: 2.5%
}
.screen-mock.fixed {
    transform: translate(calc(-100% - 60px), 50%);
    max-width: 600px;
    width: calc(50vw - 120px);
    max-height: none;
    bottom: 50vh;
}