.step-card {
    padding: 20px;
    background: white;
    border-radius: 10px;
    max-width: 600px;
    margin-left: 60px;
    width: calc(100% - 120px);
    transform: translateY(-50%);
    margin-bottom: 25vh;
    user-select: none;
    opacity: 0.25;
    transition: 100ms ease-in-out;
    cursor: pointer;
}
.step-card.focus {
    opacity: 1;
}
.step-card:last-of-type {
    margin-bottom: 0vh;
}
.step-card h2 {
    font-family: 'Cera Pro';
    font-weight: 500;
    color: #ED0874;
    margin: 0;
    padding: 0;
    font-size: 28px;
}
.step-card p {
    font-family: 'Cera Pro';
    font-size: 18px;
    color: #242424;
}